*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* header part start */
.golap-ful{
    display: flex;
    background-color: #f4c3e0;
    height: 100vh;
}
.golap-container{
    align-items: center;
    margin: 150px;
}
.head-title{
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}
.head-contain{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    padding: 15px 25px;
    border: none;
    color: white;
}
.wing10-img{
    width: 500px;
    height: 660px;
    margin: 50px 150px 0 0;
}
/* header part end */

/* mainarea part start */

.bely{
    text-align: center;
    margin: 200px 0 50px;
}
.head-bely{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}


/* mainarea part end */