*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
/* header part start */
.golap-ful{
    display: flex;
    background-color: #f4c3e0;
    height: 100vh;
}
.golap-container{
    align-items: center;
    margin: 150px;
}
.head-title{
    color: #272727;
    font-size: 80px;
    font-weight: 700;
}
.head-contain{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}
.btn-primary{
    border-radius: 8px;
    background: #f52f5a;
    padding: 15px 25px;
    border: none;
    color: white;
}
.wing10-img{
    width: 500px;
    height: 660px;
    margin: 50px 150px 0 0;
}
/* header part end */

/* mainarea part start */

.bely{
    text-align: center;
    margin: 150px 0 50px;
}
.head-bely{
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}
.shapla{
    display: flex;
    justify-content: space-around;
    margin: 80px 180px 0;
}
.flower{
    border-radius: 300px 300px 0px 0px;
    width: 364px;
    height: 458px;
}
.flower1{
    width: 270px;
    height: 350px;
    margin-top: 108px;
    padding: 0 50px;
    
}
.kodom{
    background-color: rgb(226, 205, 246);
}
.joba{
    background-color: #f9d9d5;
}
.tara{
    background-color: rgb(208, 244, 228);
}
.pink-title{
    text-align: center;
    margin: 20px;
    text-decoration: underline;
}
.podda{
    margin: 180px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgb(214, 221, 246);
    min-height: 200px;
}
.flower-info{
    text-align: center;
    margin: 80px;
}
.flower-info-title{
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
}
.jasmine{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 620px;
    background-color: rgb(235, 246, 204);
}
.wing8-img{
    width: 380px;
    height: 480x;
    margin: 80px 150px 0 0;
}
.jasmine-container{
    margin: 120px;
    padding: 50px;
}
.jasmine-title{
    color: #272727;
    font-size: 45px;
    font-weight: 700;
}
.jasmine-contain{
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    margin: 20px 0;
}
.btn{
    margin-left: 220px;
}
.flower-shop{
    display: flex;
    justify-content: space-around;
    margin: 80px 180px;
}
.instra-photo{
    width: 270px;
    height: 350px;
}
.rojoni-ful{
    background-image: url('../my-flower-shop-repo/Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 120px 180px;
    height: 400px;
    border-radius: 8px;
}
.gadha{
    text-align: center;
    padding: 110px;
}
#input{
    width: 650px;
    height: 50px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}
::placeholder{
    padding-left: 20px;
}



/* mainarea part end */